:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(41, 41, 41, 0.87);
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{margin: 0; padding: 0; border: 0; outline: none;}

#mainscene{height: 100dvh; width: 100dvw; position: relative;}

#mainchar{display: inline-block; width: 17%; height: auto; position: absolute; z-index: 999; bottom: calc(50% - 114px); left: 0; transition: all .3s linear;}
#mainchar img{width: 100%; height: auto; max-width: 100%;}